*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(238 238 238);
}
header {
    display: flex;
    flex: 1;
  }
  aside {
    display: flex;
    flex: 2;
  }
  main {
    display: flex;
    flex: 13;
    flex-direction: row;
    gap: 1rem;
  }
  footer {
    display: flex;
    flex: 8;
  }
  .main_nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    margin-left: 1rem;
  }